{% extends 'base.html.twig' %}

{% block title %}Edit ProductRating{% endblock %}

{% block body %}
    <h1>Edit ProductRating</h1>

    {{ include('product_rating/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_product_rating_index') }}">back to list</a>

    {{ include('product_rating/_delete_form.html.twig') }}
{% endblock %}
