<!DOCTYPE html>
<html lang="en">

<head>

   
</head>

<body id="page-top">

 
                <div class="container-fluid">
                   {% block body %}
                       body 
                   {% endblock %}
                    
                </div>
                <!-- /.container-fluid -->

           
        {% block js %}
        {% endblock %}
   
</body>

</html>