<div style="text-align: center;">
        <br><br><br><br><br><br>
    <br><br><br>
        <img src="data:image/jpeg;base64,{{ imageData }}"  style="width: 100px;height:100px" >
    <center><h1>Categorie List</h1></center>
    <br><br><br>
    
    <div style="display: flex; flex-wrap: wrap; justify-content: space-around;">
    {% for categorie in categories %}
        <div style="width: 650px; margin: 10px; padding: 10px; border: 1px solid #ccc;background-color:#93DC5C;">
            <h2>nom</h2>
            <p>{{ categorie.nom }}</p>
         
            <h2>produit</h2>
            {% for produit in categorie.products %}
            <p>{{ produit.prodName }}</p>
            {% endfor %}
        </div>
    {% endfor %}
</div>
<br><br><br><br><br><br>
</div>
<div>
</div>